{% extends 'registration/base_register.html' %}
{% load widget_tweaks %}
{% block meta-title %}تایید بازیابی گذرواژه{% endblock %}
{% block title %}
	تایید بازیابی گذرواژه
{% endblock %}
					{% block main %}
					<div>
                      <h3 class="myfont">گذرواژهٔ جدید ایجاد شد</h3>
                      </br>
                      <p class="myfont">گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.</p>
                      <a class="myfont" href="{% url 'login' %}" style="color: red; font-weight: bold; font-size:24px; text-align: center; display: block;">ورود</a>
					</div>

					{% endblock %}