{% extends 'blog/base.html' %}
{% load static %}
{% load comment_tags %}
{% load ratings %}
{% load base_tags %}
{% load humanize %}

{% block title %}| {{article.title}} {% endblock %}
{% block main %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{article.title}}</h1>
                            {% if article.is_special %}
                                <span class="badge badge-danger" style="font-size: 12px">ویژه</span>
                            {% endif %}
                            <time>{{article.publish|naturaltime}}</time>
                            <div>{% ratings article %}</div>
                            <div>بازدید کل: {{ article.hits.count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Post Content-->
    <article class="mb-4">
            <div class="container px-4 px-lg-5 text-justify">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <aside>
                            {% popular_articles %}
                            {% hot_articles %}
                        </aside>
                        {% if article.is_special %}
                            {% if user.is_authenticated and user.is_special_user or user == article.author or user.is_superuser %}
                                {{article.description|safe}}
                            {% else %}
                                {{article.description|striptags|truncatewords:30}}
                                <p class="alert alert-warning" style="font-size: 16px">
                                    این مقاله ویژه است و برای مشاهده ان نیاز به تهیه <a href="#" class="alert-link">اشتراک ویژه</a> است.
                                </p>
                            {% endif %}
                        {% else %}
                            {{article.description|safe}}
                        {% endif %}
                        {% render_comments article request %}
                        {% include_bootstrap %}
                    </div>
                </div>
            </div>
        </article>
{% endblock  %}